*.jpg
*.jpeg
*.JPEG
*.png
*.PNG
*.gz
*/__pycache__/
*.json

*/byol/

storage/
models/dino/dino_storage/
models/swav/swav_storage/
*/dino_storage/
*/swav_storage/
datasets/Covidx-CT/test
datasets/Covidx-CT/train
datasets/Covidx-CT/validation
datasets/NLST_100k/class_0
datasets/NLST_dataset/NLST_jpg

*.pth
*.pth.tar
*.pt

